name: CD

on:
  push:
    branches: main

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Desplegar en Render
        uses: render-inc/deploy-action@v1
        with:
          serviceId: ${{ secrets.RENDER_SERVICE_ID }}
          apiKey: ${{ secrets.RENDER_API_KEY }}
